<h1 style='text-align: center'>Week 3 Assignment, Applied Data Science Capstone</h1>
<h2 style='text-align: center'>Segmenting and Clustering Neighborhoods in Toronto</h2>

In [1]:
import requests
import pandas as pd

print('Libraries imported.')

Libraries imported.

<h3> Data read-in from Wikipedia </h3>

In [2]:
src_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

response = requests.get(src_url)

df_raw = pd.read_html(response.text)[0]
df_raw.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<h3> Data cleaning - the raw data is kept, just in case. </h3>

In [3]:
df_proc = df_raw

Rename the columns appropriately

In [4]:
df_proc.columns = ['PostalCode', 'Borough', 'Neighborhood']

Drop any boroughs which are not assigned:

In [5]:
df_proc = df_proc[df_proc['Borough']!='Not assigned'].reset_index().drop('index', axis=1)

Rename any neighborhoods that are not assigned to their respective borough:

In [6]:
df_proc['Neighborhood'].replace('Not assigned', df_proc['Borough'], inplace=True)

Group the dataframe by postal code to sum up the neighborhoods:

In [7]:
df_proc = df_proc.groupby(by='PostalCode').sum().reset_index()

<h3>Take a look at the resulting dataframe:</h3>

In [8]:
df_proc.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [9]:
df_proc.describe()

       PostalCode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M6L  North York    Downsview
freq            1          24            4

In [19]:
df_proc.shape

(103, 3)